{extend name="../../admin/view/main"}

{block name="button"}
<!--{if auth("sync")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-queue="{:url('sync')}">刷新用户金额</button>
<!--{/if}-->

<!--{if auth("base.upgrade/sync")}-->
<button class='layui-btn layui-btn-sm layui-btn-primary' data-queue="{:url('base.upgrade/sync')}">刷新用户等级</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title notselect">
        {foreach $total as $k=>$v}{if isset($type) and 't'.$type eq $k}
        <li class="layui-this" data-open="{:url('index')}?type={$k}">
            {if is_numeric($v.vip)}<span class="color-red margin-right-5">[<b class="margin-col-5 font-s12">VIP{$v.vip}</b>]</span>{/if}
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {else}
        <li data-open="{:url('index')}?type={$k}">
            {if is_numeric($v.vip)}<span class="color-desc margin-right-5">[<b class="margin-col-5 font-s12">VIP{$v.vip}</b>]</span>{/if}
            <span>{$v.name}</span><sup class="layui-badge border-radius">{$v.count|default=0}</sup>
        </li>
        {/if}{/foreach}
    </ul>
    <div class="layui-tab-content">
        {include file='user/admin/index_search'}
        <table class="layui-table margin-top-10" lay-skin="line">
            {notempty name='list'}
            <thead>
            <tr>
                <th class='list-table-check-td think-checkbox'>
                    <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
                </th>
                <th class='nowrap'>用户信息</th>
                <th class='nowrap'>代理信息</th>
                <th class='nowrap'>余额统计</th>
                <th class='nowrap'>返利统计</th>
                <th class='nowrap'>团队统计</th>
                <th class='nowrap'>用户状态</th>
                <th class='nowrap'></th>
            </tr>
            </thead>
            {/notempty}
            <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td think-checkbox'>
                    <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
                </td>
                <td class="nowrap">
                    <div class="headimg headimg-md" data-lazy-src="{$vo.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                    <div class="inline-block">
                        <div>
                            {notempty name='vo.username'}
                            用户姓名：<span class="color-text">{$vo.username|default='-'}</span>
                            {else}
                            用户昵称：<span class="color-text">{$vo.nickname|default='-'}</span>
                            {/notempty}
                        </div>
                        <div>用户手机：<span class="color-text">{$vo.phone|default='-'}</span></div>
                        <div>用户等级：[ <b class="color-red">VIP{$vo.vip_code}</b> ] <b class="color-red">{$vo.vip_name}</b></div>
                    </div>
                </td>
                <td class="nowrap">
                    {notempty name='vo.from'}
                    <div class="headimg headimg-md" data-lazy-src="{$vo.from.headimg|default='__ROOT__/static/theme/img/headimg.png'}" data-tips-image></div>
                    <div class="inline-block text-middle">
                        <div>
                            {notempty name='vo.from.username'}
                            用户姓名：<span class="color-text">{$vo.from.username|default='-'}</span>
                            {else}
                            用户昵称：<span class="color-text">{$vo.from.nickname|default='-'}</span>
                            {/notempty}
                        </div>
                        <div>用户手机：<span class="color-text">{$vo.from.phone|default='-'}</span></div>
                        <div>用户等级：[ <b class="color-red">VIP{$vo.from.vip_code}</b> ] <b class="color-red">{$vo.from.vip_name}</b></div>
                    </div>
                    {else}
                    <div class="color-desc">没有代理</div>
                    {/notempty}
                </td>
                <td class="nowrap sub-strong-blue sub-strong-s14">
                    <div>累计充值 <b>{$vo.balance_total+0}</b> 元</div>
                    <div>已经交易 <b>{$vo.balance_used+0}</b> 元</div>
                    <div>可用余额 <b>{:round($vo.balance_total-$vo.balance_used,2)+0}</b> 元</div>
                </td>
                <td class="nowrap sub-strong-blue sub-strong-s14">
                    <div>累计返利 <b>{$vo.rebate_total+0}</b><span class="color-red font-w7" data-tips-text="未到账">+{$vo.rebate_lock+0}</span> 元</div>
                    <div>已经提现 <b>{$vo.rebate_used+0}</b> 元</div>
                    <div>剩余提现 <b>{:round($vo.rebate_total-$vo.rebate_used,2)+0}</b> 元</div>
                </td>
                <td class="nowrap sub-strong-blue sub-strong-s14">
                    <div>全部团队 <b>{$vo.teams_users_total}</b> 人 ( 业绩 <b>{$vo.teams_amount_total+0}</b> 元 )</div>
                    <div>直属团队 <b>{$vo.teams_users_direct}</b> 人 ( 业绩 <b>{$vo.teams_amount_direct+0}</b> 元 )</div>
                    <div>间接团队 <b>{$vo.teams_users_indirect}</b> 人 ( 业绩 <b>{$vo.teams_amount_indirect+0}</b> 元 )</div>
                </td>
                <td class="nowrap">
                    <div>累计交易：<b class="color-blue font-s14">{$vo.order_amount_total+0}</b> 元</div>
                    <div>使用状态：{if $vo.status eq 0}<b class="color-red">已冻结</b>{elseif $vo.status eq 1}<b class="color-green">已激活</b>{/if}
                        <!--{notempty name='vo.pids'}--><b class="margin-left-5 color-green">永久绑定</b><!--{else}-->
                        {notempty name='vo.pid0'}<b class="margin-left-5 color-red">临时绑定</b>{else}<b class="margin-left-5 color-desc">没有绑定</b>{/notempty}
                        <!--{/notempty}-->
                    </div>
                    <div>注册时间：{$vo.create_at|format_datetime}</div>
                </td>
                <td class="nowrap">

                    <!--{if auth("parent") and false}-->
                    <a class="layui-btn layui-btn-sm layui-btn-primary" data-iframe="{:url('parent')}?uid={$vo.id}" data-width="900px">修改上级</a>
                    <!--{/if}-->

                    <!--{if auth("user_balance/add")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-primary" data-modal="{:url('user.balance/add')}?uid={$vo.id}" data-title="充值账户余额">充 值</a>
                    <!--{/if}-->

                    <!--{if auth("state") and $vo.status eq 1}-->
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('state')}" data-confirm="账号冻结后不能下单和提现，确定要冻结吗？" data-value="id#{$vo.id};status#0">冻 结</a>
                    <!--{/if}-->

                    <!--{if auth("state") and $vo.status eq 0}-->
                    <a class="layui-btn layui-btn-sm layui-btn-normal" data-action="{:url('state')}" data-value="id#{$vo.id};status#1">解 冻</a>
                    <!--{/if}-->
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
        {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
    </div>
</div>
{/block}
